// Page header
#front-hero {
	.marketing {
		@include grid-row();
		max-width: 55rem;
	}

	@include breakpoint(small) {
		background: url('../images/header-bk.jpg') bottom center;
		background-size: cover;
		background-position: bottom;
		padding: rem-calc(65%) 0;
		margin: 0;
		height: auto;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		background: url('../images/header-bk.jpg') bottom center;
		background-size: cover;
		background-position: center;
		height: rem-calc(350);
		margin: 0;
	}

	.tagline {

		background:rgba(238,238,238,0.93);
		
		@include breakpoint(small) {
			@include grid-column(8,0);
			padding:1em;
		}

		@include breakpoint(medium) {
			@include grid-column(5,0);
			padding:2em;
			min-width:rem-calc(450);
		}

	}

	h1 {
		color: $primary-color;
		font-weight: 700;
		line-height:1.1;
		letter-spacing:-0.02em;

		@include breakpoint(small) {
			font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			font-size: 2.875rem;
		}

	}

	h4 {
		color: $primary-color;
		font-weight: 300;
		font-size: 1.3125rem;
		letter-spacing: -0.05em;
	}

}


// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}

//contact
.contact{
	background-color:$primary-color;
	padding:$band-spacing;
	.contact-area{
		@include grid-row();
		text-align: center;
		color:$white;
		p	{
			font-size:150%
			}
		}
	}


// Services
.services {
	@include grid-row();
	text-align: center;
	margin-top:$band-spacing;
	margin-bottom:$band-spacing;
	header {
		@include grid-column(12);

		h2 {
			font-weight: 300;
		}

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}

	.service {
		@include breakpoint(small) {
			@include grid-column(12);
			img {
			width:35%;
			}
		}

		@include breakpoint(medium) {
			@include grid-column(3);
			img{
			min-width:rem-calc(120);
			max-width:rem-calc(170);
			}
		}

		img {
		padding:$band-spacing 0 $band-spacing/2 0;
    	margin: 0 auto;
		}
		
		h3{
		line-height: 1.1;
		}
		
		li {
		line-height: 1.1;
		font-weight:bold;
		color:#777;
		margin-bottom:rem-calc(7);
		}

	}

}

.benefits {
background-color:#eee;
padding:$band-spacing;
.benefits-area{
	@include grid-row();
	text-align: center;
	p	{
		line-height:1.4;
		font-size:130%;
		}
	
	}
.benefit{
		@include breakpoint(small) {
			@include grid-column(12);
			margin-bottom:rem-calc(20);
		}

		@include breakpoint(medium) {
			@include grid-column(4);
		}
		}	
	}