#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	
	#footer {
	background: $primary-color url('../images/footer-bk.png') bottom center;
	background-size: cover;
	height: rem-calc(400);
	}
	
}
